.container{
	.record-info{
		background-color: #18171705;
		padding-bottom: 25px;
		width: 95%;
		margin: 10px auto;
		border-radius: 20px;
		box-shadow: 5px 5px 5px #4d444447;
		
		.top-title{
			padding: 30rpx;
			.top{
				display: flex;
				justify-content: space-between;
				
				.name{
					color: #000;
					font-weight: 700;
					font-size: 34rpx;
				}
				
				.time{
					padding: 5px 10px;
					border: 1px solid #181717a8;
					color: #181717a8;
					border-radius: 30rpx;
				}
			}
			.title{
				margin-top: 10px;
				color: #1a17174a;
				font-weight: 600;
				font-size: 30rpx;
			}
			
			.true{
				margin-top: 20px;
			}
		}
	}
	
	.question-info{
		background-color: #18171705;
		height: 260rpx;
		width: 95%;
		margin: 10px auto;
		border-radius: 20px;
		box-shadow: 5px 5px 5px #4d444447;
		
		.title{
			padding: 30rpx;
			color: #000;
			font-weight: 700;
			font-size: 34rpx;
		}
		
		.count-info{
			margin-top: 10px;
			display: flex;
			justify-content: space-between;
			.count-info-item{
				width: 25%;
				text-align: center;
				position: relative;
				border-right: 1px solid #eee;
				
				.count{
					font-weight: 600;
					font-size: 36rpx;
					
					&.right{
						color: green;
					}
					
					&.error{
						color: red;
					}
				}
				
				.text{
					margin-top: 5px;
					font-size: 30rpx;
					color: #1a17174a;
				}
			}
		}
	}
	
	.result-info{
		background-color: #18171705;
		width: 95%;
		margin: 10px auto;
		border-radius: 20px;
		box-shadow: 5px 5px 5px #4d444447;
		padding-bottom: 30rpx;
		
		.title{
			padding: 30rpx;
			color: #000;
			font-weight: 700;
			font-size: 34rpx;
		}
		
		.info {
			display: flex;
			padding: 0 20rpx;
		
			.info-item {
				font-size: 14px;
				margin: 0 10px;
		
				.circle {
					display: inline-block;
					width: 10px;
					height: 10px;
					border-radius: 50%;
					margin-right: 5px;
		
					&.error {
						background-color: #ff0000a3;
					}
		
					&.right {
						background-color: #008000c4;
					}
		
					&.no {
						background-color: $gray;
					}
				}
			}
		}
		.content {
			margin-top: 30px;
			display: flex;
			flex-wrap: wrap;
		
			.item {
				width: 100rpx;
				height: 100rpx;
				line-height: 100rpx;
				margin: 10px;
				background-color: $gray;
				color: #828080;
				border-radius: 50%;
				text-align: center;
		
				&.error {
					color: $white;
					background-color: #ff0000a3;
				}
		
				&.right {
					color: $white;
					background-color: #008000c4;
				}
			}
		}
	}
	
	.botttom-info{
		position: sticky;
		bottom: 0;
		background-color: #18171705;
		width: 100%;
		margin: 10px auto;
		padding:20px 0;
		
		display: flex;
		justify-content: space-between;
		.btn{
			margin: 0 20px;
			width: 50%;
		}
	}
}