.container{
	.record-info{
		padding: 10px;
		display: flex;
		justify-content: space-between;
		
		.record-title{
			font-size: 18px;
			font-weight: 700;
			color: #000;
		}
		
		.question-number{
			font-size: 16px;
			color: #00000096;
			margin-top: 10rpx;
		}
		
		.answer-record{
			color: #3c9cff;
			font-weight: 700;
		}
	}
	
	.question-info{
		background-color: #18171705;
		width: 95%;
		margin: 10px auto;
		border-radius: 20px;
		box-shadow: 5px 5px 5px #4d444447;
		
		.question-type-level{
			padding: 20px 10px;
			display: flex;
			.tag-item {
				margin: 0 10px;
			}
			
		}
		
		.question{
			padding: 10px;
			
			.question-title{
				font-size: 18px;
				font-weight: 700;
				color: #000;
				margin-bottom: 20px;
			}
			
			.has-option{
				.options{
					.option{
						margin: 10px 0px;
						color: #00000096;
						background-color: #fff;
						padding: 15px;
						border-radius: 15px;
						
						&.error{
							background-color: #ff0000a3;
							color: #fff;
						}
						
						&.right{
							background-color: #008000c4;
							color: #fff;
						}
					}
				}
				.answer-info{
					display: flex;
					font-size: 14px;
					.answer{
						margin: 20px 10px;
					}
					.user-answer{
						color: #00000096;
						&.error-answer{
							color: #ff0000a3;
						}
					}
					.right-answer{
						color: #008000c4;
					}
					
				}
			}
			
			.no-option{
				.answer-info{
					font-size: 14px;
					.answer{
						margin: 20px 10px;
					}
					.user-answer{
						color: #00000096;
						&.error-answer{
							color: #ff0000a3;
						}
					}
					.right-answer{
						color: #008000c4;
					}
				
					
				}
			}
			
		}
	}
	
	.parse-info{
		background-color: #18171705;
		width: 95%;
		margin: 10px auto;
		border-radius: 10px;
		box-shadow: 5px 5px 5px #4d444447;
		
		.parse-title{
			padding: 20px 15px;
			color: #000;
			font-weight: 700;
			font-size: 34rpx;
		}
		
		.parse-content{
			padding:0 15px;
			padding-bottom: 20px;
			color: #00000096;
		}
	}
	
	.show-tips{
		.warp{
			border-radius: 10px;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			background-color: #fff;
			width: 60%;
			padding: 20px;
			padding-top: 50px;
			
			.content{
				text-align: center;
				font-size: 34rpx;
				font-weight: 600;
			}
			
			.close{
				position: absolute;
				top: 10px;
				right: 10px;
			}
			
			.button{
				margin-top: 30px;
				display: flex;
				justify-content: space-between;
				.btn{
					margin: 0 10px;
				}
			}
		}
	}
	
	.pop-container {
		.container {
			padding: 0 10px;
	
			.title {
				text-align: center;
				font-weight: 700;
				font-size: 18px;
			}
	
			.info {
				margin-top: 40rpx;
				display: flex;
	
				.info-item {
					font-size: 14px;
					margin: 0 10px;
	
					.circle {
						display: inline-block;
						width: 10px;
						height: 10px;
						border-radius: 50%;
						margin-right: 5px;
	
						&.right {
							background-color: #008000c4;;
						}
	
						&.error {
							background-color: #ff0000a3;
						}
	
						&.no {
							background-color: $gray;
						}
					}
				}
			}
	
			.content {
				margin-top: 30px;
				display: flex;
				flex-wrap: wrap;
	
				.item {
					width: 100rpx;
					height: 100rpx;
					line-height: 100rpx;
					margin: 10px;
					background-color: $gray;
					color: #828080;
					border-radius: 50%;
					text-align: center;
	
					&.right {
						color: $white;
						background-color: #008000c4;;
					}
	
					&.error {
						color: $white;
						background-color: #ff0000a3;
					}
				}
			}
	
			.submit {
				display: flex;
				width: 80%;
				margin: 30px auto 10px;
			}
		}
	}
}